.DS_Store
.git

# Ignore generated folders
History/
__Previews/
Project Outputs for JTS_Motherboard_v2/

# FootprintImports/Imported*.lia/
FootprintImports/
3D_Model_Imports/

# Ignore project logs
*.LOG
